.task {
    background-color: #444;
    border-radius:2px;
    margin : 8px 0;
    color : #eee;
    font-size: 12px;
    padding:3px 5px;
    display:flex;
    justify-content: space-between;
}
.delete{
    color:chartreuse;
    background-color: #444;

  }